spring:
  application:
    name: auth-service
  datasource:
    url: jdbc:postgresql://localhost:35432/${POSTGRES_DB}
    username: ${POSTGRES_USERNAME}
    password: ${POSTGRES_PASSWORD}
    driver-class-name: org.postgresql.Driver
    hikari:
      # Pod 하나가 동시에 DB에 열 수 있는 최대 커넥션 수
      maximum-pool-size: 5
      # 풀에서 항상 유지할 최소 유휴 커넥션 수
      minimum-idle: 1
      # 커넥션 풀에서 커넥션을 얻기 위해 기다릴 수 있는 최대 시간 (ms) : 1000 * 30 = 30초
      connection-timeout: 30000
      # 사용되지 않는 커넥션을 풀에서 제거하기까지의 최대 시간 (ms) : 1000 * 60 * 5 = 5분
      idle-timeout: 300000
      # 커넥션 하나의 최대 생존 시간 (ms) : 1000 * 60 * 30 = 30분
      max-lifetime: 1800000
  jpa:
    properties:
      hibernate:
        jdbc:
          time_zone: UTC
        show_sql: true
        format_sql: true
    hibernate:
      ddl-auto: update
  data:
    redis:
      host: localhost
      port: 36379
      timeout: 5000 # 5초
  jackson:
    time-zone: UTC
    serialization:
      write-dates-as-timestamps: false
    default-property-inclusion: non_null
    deserialization:
      fail-on-unknown-properties: false

server:
  port: 38080

api:
  version: v1

auth-url:
  signup: /auth/v1/signup
  login: /auth/v1/login
  refresh: /auth/v1/refresh

logging:
  level:
    root: info

jwt:
  secret-string: ${SECRET_STRING}
  access-token-expiry: 3600000     # 1000 * 60 * 60= 60분
  refresh-token-expiry: 1209600000 # 1000 * 60 * 60 * 24 * 14 = 14일

cors:
  allowed-origins: "http://localhost:3000"

management:
  endpoints:
    web:
      base-path: /auth/actuator
      exposure:
        include: "*"

aws:
  region: ap-northeast-2
  ses:
    otp:
      from: "no-reply@koreaevent.click"