spring:
  application:
    name: auth-service
  datasource:
    url: jdbc:postgresql://localhost:35432/${POSTGRES_DB}
    username: ${POSTGRES_USERNAME}
    password: ${POSTGRES_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    properties:
      hibernate:
        jdbc:
          time_zone: UTC
        show_sql: true
        format_sql: true
    hibernate:
      ddl-auto: update
  data:
    redis:
      host: localhost
      port: 36379
      timeout: 5000 # 5초
  jackson:
    serialization:
      write-dates-as-timestamps: false
    default-property-inclusion: non_null
    deserialization:
      fail-on-unknown-properties: false

server:
  port: 38080

api:
  version: v1

auth-url:
  signup: /auth/v1/signup
  login: /auth/v1/login
  refresh: /auth/v1/refresh

logging:
  level:
    root: info

jwt:
  secret-string: ${SECRET_STRING}
  access-token-expiry: 3600000     # 1000 * 60 * 60= 60분
  refresh-token-expiry: 1209600000 # 1000 * 60 * 60 * 24 * 14 = 14일

cors:
  allowed-origins: "http://localhost:3000"

management:
  endpoints:
    web:
      base-path: /auth/actuator
      exposure:
        include: "*"

aws:
  region: ap-northeast-2
  ses:
    otp:
      from: "no-reply@koreaevent.click"