spring:
  application:
    name: auth-service-prod
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
  devtools:
    add-properties: false

server:
  port: 8080
  forward-headers-strategy: framework
  shutdown: graceful

logging:
  level:
    root: info

jwt:
  secret-string: ${SECRET_STRING}

cors:
  allowed-origins: "https://www.koreaevent.click"

management:
  endpoint:
    health:
      probes:
        enabled: true
  endpoints:
    web:
      exposure:
        include: health