datasources:
  datasources.yaml:
    apiVersion: 1
    datasources:
    - name: Prometheus
      type: prometheus
      url: http://my-prometheus-server.monitoring.svc.cluster.local
      access: proxy
      isDefault: true
persistence:
  enabled: false
adminUser: admin
adminPassword: adminp