server:
  service:
    type: ClusterIP
  global:
    scrape_interval: 30s
    evaluation_interval: 30s
  retention: "15d"
  #  resources:
  #    requests:
  #      cpu: 500m
  #      memory: 1Gi
  #    limits:
  #      cpu: 1
  #      memory: 2Gi
  persistentVolume:
    enabled: false

pushgateway:
  enabled: true

alertmanager:
  enabled: false
  persistentVolume:
    enabled: false

extraScrapeConfigs: |
  - job_name: "event-core"
    metrics_path: /events/actuator/prometheus
    kubernetes_sd_configs:
      - role: endpoints
    relabel_configs:
      - action: keep
        source_labels: [ __meta_kubernetes_namespace ]
        regex: event
      - action: keep
        source_labels: [ __meta_kubernetes_service_name ]
        regex: event-core-service
      - action: replace
        source_labels: [ __meta_kubernetes_pod_name ]
        target_label: pod
  - job_name: "auth-service"
    metrics_path: /auth/actuator/prometheus
    kubernetes_sd_configs:
      - role: endpoints
    relabel_configs:
      - action: keep
        source_labels: [__meta_kubernetes_namespace]
        regex: event
      - action: keep
        source_labels: [__meta_kubernetes_service_name]
        regex: auth-service-service
      - action: replace
        source_labels: [__meta_kubernetes_pod_name]
        target_label: pod




#global:
#  scrape_interval:     15s
#  evaluation_interval: 30s
#
##rule_files:
## - "first.rules"
## - "second.rules"
#
#scrape_configs:
#  - job_name: event-core
#    static_configs:
#      - targets: ['localhost:9090']