apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: event-core-hpa
  namespace: event
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: event-core-deployment
  minReplicas: 2
  maxReplicas: 6
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 70
  behavior:
    scaleDown:
      stabilizationWindowSeconds: 300
      policies:
      - type: Pods
        value: 1
        periodSeconds: 30
    scaleUp:
      stabilizationWindowSeconds: 15
      policies:
      - type: Pods
        value: 4
        periodSeconds: 15