apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: event-core-hpa
  namespace: event
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: event-core-deployment
  minReplicas: 2
  maxReplicas: 6
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 70