apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: event-core-hpa
  namespace: event
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: event-core-deployment
  minReplicas: 1
  maxReplicas: 6
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 70
  behavior:
    scaleDown:
      stabilizationWindowSeconds: 300 # 60 * 5 = 5분간 안정화 (급격한 축소 방지)
      policies:
      - type: Pods
        value: 1          # 한 번에 1개 pod만 감
        periodSeconds: 30 # 30초에 1개까지 감소 가능
    scaleUp:
      stabilizationWindowSeconds: 15 # 확장은 비교적 빨리 설정함
      policies:
      - type: Pods
        value: 4
        periodSeconds: 15