server:
  service:
    type: ClusterIP
  global:
    scrape_interval: 30s
    evaluation_interval: 30s
  retention: "15d"
  #  resources:
  #    limits:
  #      cpu: 1
  #      memory: 2Gi
  #    requests:
  #      cpu: 500m
  #      memory: 1Gi
  persistentVolume:
    enabled: false

alertmanager:
  enabled: false

prometheus-pushgateway:
  enabled: true

extraScrapeConfigs: |
  - job_name: "event-core"
    metrics_path: /events/actuator/prometheus
    kubernetes_sd_configs:
      - role: endpoints
    relabel_configs:
      - source_labels: [__meta_kubernetes_namespace]
        action: keep
        regex: event
      - source_labels: [__meta_kubernetes_service_name]
        action: keep
        regex: event-core-service
      - action: replace
        source_labels: [ __meta_kubernetes_pod_name ]
        target_label: pod
  - job_name: "auth-service"
    metrics_path: /auth/actuator/prometheus
    kubernetes_sd_configs:
      - role: endpoints
    relabel_configs:
      - source_labels: [__meta_kubernetes_namespace]
        action: keep
        regex: event
      - source_labels: [__meta_kubernetes_service_name]
        action: keep
        regex: auth-service-service
      - action: replace
        source_labels: [ __meta_kubernetes_pod_name ]
        target_label: pod