listeners:
  client:
    protocol: PLAINTEXT
  controller:
    protocol: PLAINTEXT
  interBroker:
    protocol: PLAINTEXT
  external:
    protocol: PLAINTEXT

controller:
  persistence:
    enabled: false
  logPersistence:
    enabled: false

broker:
  persistence:
    enabled: false
  logPersistence:
    enabled: false

image:
  registry: docker.io
  repository: bitnamilegacy/kafka
  tag: 4.0.0-debian-12-r10