listeners:
  client:
    protocol: PLAINTEXT
  controller:
    protocol: PLAINTEXT
  interBroker:
    protocol: PLAINTEXT
  external:
    protocol: PLAINTEXT

controller:
  persistence:
    enabled: false
  logPersistence:
    enabled: false

broker:
  persistence:
    enabled: false
  logPersistence:
    enabled: false
