spring:
  application:
    name: event-core-prod
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
  ai:
    openai:
      api-key: ${OPENAI_API_KEY}
  data:
    redis:
      host: my-redis-master.redis.svc.cluster.local
  kafka:
    bootstrap-servers: my-kafka.kafka.svc.cluster.local:9092
    consumer:
      auto-startup: true

server:
  port: 8080
  forward-headers-strategy: framework
  shutdown: graceful

logging:
  level:
    root: info

jwt:
  secret-string: ${SECRET_STRING}

cors:
  allowed-origins: "https://www.koreaevent.click"

management:
  endpoint:
    health:
      probes:
        enabled: true
  endpoints:
    web:
      base-path: /events/actuator
      exposure:
        include: health, prometheus