persistence:
  enabled: false
  
adminUser: admin
adminPassword: adminp

datasources:
  datasources.yaml:
    apiVersion: 1
    datasources:
      - name: Prometheus
        type: prometheus
        access: proxy
        url: http://my-prometheus-server.monitoring.svc.cluster.local
        isDefault: true