spring:
  application:
    name: auth-service
  datasource:
    url: jdbc:postgresql://localhost:35432/${POSTGRES_DB}
    username: ${POSTGRES_USERNAME}
    password: ${POSTGRES_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    properties:
      hibernate:
        show_sql: true
        format_sql: true
    hibernate:
      ddl-auto: update

server:
  port: 38080

api:
  version: v1

#logging:
#  level:
#    root: debug

jwt:
  secret-string: ${SECRET_STRING}
  access-token-expiry: 3600000      # 1000 * 60 * 60= 60분
  refresh-token-expiry: 1209600000  # 1000 * 60 * 60 * 24 * 14 = 14일

management:
  endpoints:
    web:
      exposure:
#        include: "*"
        include: health,prometheus